#fold55{
  flex-direction:row;
  flex:25%;
  margin: 25px;
}
@media(max-width:767px){
  #fold55{
    flex:100%
  }
}
.card22 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card22:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container22 a:hover{
  color:blue;
}

/* Add some padding inside the card container */
.container22 {
  padding: 2px 16px;
}
#myim{
  border-radius: 5px 5px 0 0;
}